
:root {
    --medium-slate-blue: #6f78ffff;
    --orange-pantone: #f75c03ff;
    --russian-violet: #392061ff;
    --maximum-yellow-red: #ffc857ff;
    --viridian-green: #119da4ff;
    --incorrect-red: #c80202;
    --correct-green: #009113;
}


.Quiz {
     max-width: 600px;
     margin-top: 15px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 15px;
     padding-bottom: 4px;
     padding-top: 4px;
     line-height: 1.1;
     font-size: 16pt;
}

.QuizCode {
    font-size: 14pt;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.QuizCode > pre {
    padding: 4px;
}
.Answer{
     margin: 10px 0;
     display: grid;
     grid-template-columns: auto auto;
     grid-gap: 10px;
}
.Feedback{
     font-size: 16pt;
     text-align:center;
 }

.Input {
    align:left;
    font-size: 20pt;
}
.Input-text {
    display: block;
    margin: 10px;
    color: inherit;
    width: 140px;
    background-color: #c0c0c0;
    color: #fff;
    padding: 5px;
    padding-left: 10px;

    font-family: inherit;
    font-size: 20px;
    font-weight: inherit;
    line-height: 20pt;
    border: none;
    border-radius: 0.2rem;
    transition: box-shadow 0.1s);
}

 .Input-text:focus {
     outline: none;
     background-color: #c0c0c0;
     box-shadow: 0.6rem 0.8rem 1.4rem -0.5rem #999999;
 }

 .MCButton{
     background: #fafafa;
     border: 1px solid #eee;
     border-radius: 10px;
     padding: 10px;
     font-size: 16px;
     cursor: pointer;
     text-align: center;
 }
 .MultipleChoiceQn {
     padding: 10px;
     background: var(--medium-slate-blue);
     color: #fafafa;
     border-radius: 10px;
 }
 .ManyChoiceQn {
     padding: 10px;
     background: var(--orange-pantone);
     color: #fafafa;
     border-radius: 10px;
 }
 .NumericQn {
     padding: 10px;
     background: var(--russian-violet);
     color: #fafafa;
     border-radius: 10px;
 }
.InpLabel {
     line-height: 34px;
     float:left;
     margin-right: 10px;
     color: #101010;
     font-size: 15pt;
}
.incorrect {
    color: var(--incorrect-red);
}
.correct {
    color: var(--correct-green);
}
.correctButton {
    background: var(--correct-green);
    color: #fafafa;
    box-shadow: inset 0px 0px 5px #555555;
    outline: none;
}
.incorrectButton {
    background: var(--incorrect-red);
    color: #fafafa;
    box-shadow: inset 0px 0px 5px #555555;
    outline: none;
}


