.Quiz {
    max-width: 600px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
/*    margin-bottom: 15px;*/
/*    padding-bottom: 4px;*/
    padding-top: 4px;
    line-height: 1.1;
    font-size: 16pt;
    border-radius: inherit;
}

.QuizCode {
    font-size: 14pt;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.QuizCode>pre {
    padding: 4px;
}

.Quiz code {
    background-color: lightgray;
    color: black;
}

.Quiz .QuizCode code {
    background-color: inherit;
    color: inherit;
}


.Quiz .MCButton code {
    background-color: inherit;
    color: inherit;
}

.MCButton .QuizCode {
    text-align: left;
}




.Answer {
    border-radius: inherit;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin: 10px 0;
}

@media only screen and (max-width:480px) {
    .Answer {
        grid-template-columns: 1fr;
    }

}

.Feedback {
    font-size: 16pt;
    text-align: center;
/*    min-height: 2em;*/
}

.Input {
    align: left;
    font-size: 20pt;
}

.Input-text {
    display: block;
    margin: 10px;
    color: inherit;
    width: 140px;
    background-color: var(--jq-numeric-input-bg);
    color: var(--jq-text-color);
    padding: 5px;
    padding-left: 10px;
    font-family: inherit;
    font-size: 20px;
    font-weight: inherit;
    line-height: 20pt;
    border: none;
    border-radius: 0.2rem;
    transition: box-shadow 0.1s);
}

.Input-text:focus {
    /*outline: none;*/
    background-color: var(--jq-numeric-input-bg);
    box-shadow: 0.6rem 0.8rem 1.4rem -0.5rem var(--jq-numeric-input-shadow);
}

.MCButton {
    background: var(--jq-mc-button-bg);
    border: 1px solid var(--jq-mc-button-border);
    border-radius: inherit;
    color: #333333;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MCButton p {
    color: inherit;
}

.MultipleChoiceQn {
    padding: 10px;
    background: var(--jq-multiple-choice-bg);
    color: var(--jq-text-color);
    border-radius: inherit;
}

.ManyChoiceQn {
    padding: 10px;
    background: var(--jq-many-choice-bg);
    color: var(--jq-text-color);
    border-radius: inherit;
}

.NumericQn {
    background: var(--jq-numeric-bg);
    border-radius: inherit;
    color: var(--jq-text-color);
    padding: 10px;
}

.NumericQn p {
    color: inherit;
}

.InpLabel {
    color: var(--jq-numeric-input-label);
    float: left;
    font-size: 15pt;
    line-height: 34px;
    margin-right: 10px;
}

.incorrect {
    color: var(--jq-incorrect-color);
}

.correct {
    color: var(--jq-correct-color);
}

.correctButton {
    /*
    background: var(--jq-correct-color);
   */
    animation: correct-anim 0.6s ease;
    animation-fill-mode: forwards;
    box-shadow: inset 0 0 5px var(--jq-mc-button-inset-shadow);
    color: var(--jq-text-color);
    /*outline: none;*/
}

.incorrectButton {
    animation: incorrect-anim 0.8s ease;
    animation-fill-mode: forwards;
    box-shadow: inset 0 0 5px var(--jq-mc-button-inset-shadow);
    color: var(--jq-text-color);
    /*outline: none;*/
}

@keyframes incorrect-anim {
    100% {
        background-color: var(--jq-incorrect-color);
    }
}

@keyframes correct-anim {
    100% {
        background-color: var(--jq-correct-color);
    }
}
